body {
  margin: 0;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  background-color: skyblue;
}
h1 {
  text-decoration: underline;
  color: brown;
}
.container {
  height: auto;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tasks {
  height: 3rem;
  width: 90%;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

.tasks .btn div a {
  text-decoration: none;
  color: blue;
}

.dlt {
  all: unset;
  cursor: pointer;
  color: blue;
}

.addTaskArea {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}
.input {
  height: 2rem;
  width: 80%;
}
.input:focus {
  border-radius: 5px;
  outline: none;
  border-color: #0ea5e9;
  box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.2);
}
.addbtn {
  all: unset;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 5px;
}

.tasks .taskName input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
